{% extends 'NoticeBoardBundle::main.html.twig' %}

{% block body -%}
    <h3>Edycja ogłoszenia</h3>


    {% if notice.picture is not null %}
       <img src="{{ asset(notice.picture.path) }}" style="max-width: 100px; min-width: 100px; "/>
        <form method="post" action="/notice/{{ notice.id }}/edit/picture" style="margin-top: 5px; margin-bottom: 10px;">
            <input type="hidden" name="_method" value="DELETE" />
            <input type="submit" value="Usuń obrazek" class="btn btn-default btn-xs"/>
        </form>
    {% endif %}

    {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
    {{ form(edit_form) }}



{% endblock %}
